```
INFO : Hello first info log which should be pushed to console only
Pushed to CONSOLE : {INFO : Hello first info log which should be pushed to console only}
DEBUG : Hello first debug log which should be pushed to console only
Pushed to CONSOLE : {DEBUG : Hello first debug log which should be pushed to console only}
ERROR : Hello first error log which should be pushed to console as well as file
Pushed to CONSOLE : {ERROR : Hello first error log which should be pushed to console as well as file}
Pushed to FILE : {ERROR : Hello first error log which should be pushed to console as well as file}
```