```
INFO : Hello first info log
Pushed to CONSOLE : {INFO : Hello first info log}
DEBUG : Hello first debug log
Pushed to CONSOLE : {DEBUG : Hello first debug log}
ERROR : Hello first error log which should be pushed to console
Pushed to CONSOLE : {ERROR : Hello first error log which should be pushed to console}
Pushed to FILE : {ERROR : Hello first error log which should be pushed to console}
```